image: python:latest

build_wheels:
  stage: build
  script:
    - pip install build setuptools_scm
    - python -m build --wheel --no-isolation
    - 
  only:
    - main
    - next
    - tags

pypi-official:
  stage: deploy
  needs:
    - build_wheels
  script:
    - pip install -U twine
    - TWINE_PASSWORD=${PYPI_TOKEN} TWINE_USERNAME=__token__ twine upload dist/*
  artifacts:
    paths:
      - dist/*.whl
  only:
    - tags

pypi-dev:
  stage: deploy
  needs:
    - build_wheels
  script:
    - pip install twine
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  artifacts:
    paths:
      - dist/*.whl
  only:
    - main
    - next.*

build_pages:
  stage: build
  script:
  - pip install -U sphinx sphinx-rtd-theme sphinx-prompt
  - sphinx-build -W -n -b html docs public
  only:
  - merge_requests

publish_pages:
  stage: deploy
  script:
  - pip install -U sphinx sphinx-rtd-theme sphinx-prompt
  - sphinx-build -b html docs public
  artifacts:
    paths:
    - public
  when: manual
  only:
    - main
